<section class="background background5 background-image">
  <div class="container">
    <div class="row text-center" style="transition-property: all; transition-duration: 0s; transition-timing-function: ease; opacity: 1;">
      <div class="col-sm-12">
        <h2>Contact US</h2>
        <h5>VISIT US OR SUBSCRIBE US ONLINE</h5>
      </div>
    </div>
    <div class="row" style="transition-property: all; transition-duration: 0s; transition-timing-function: ease; opacity: 1;">

      <div class="col-sm-4">
        <ul class="price-table">
          <li class="title">PHONE</li>
          <li class="price"></li>
          <li class="period"></li>
          <li>Pradeep Vuppala : 602 459 5995</li>
          <li>Anil Anugula : 602 410 2645</li>


        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="price-table">
          <li class="title">EMail</li>
          <li class="price"></li>
          <li class="period"></li>
          <li>General Inquires : <i style="font-size:24px;"></i><a href="mailto:services@ShirdiSaibabaAz.org" target="_blank"> services@ShirdiSaibabaAz.org</a></li>
          <li>New Temple Construction : <i style="font-size:24px;"></i><a href="mailto:sstaztempleconstruction@gmail.com" target="_blank"> sstaztempleconstruction@gmail.com</a></li>




        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="price-table">
          <li class="title">ADDRESS</li>
          <li class="price"></li>
          <li class="period"></li>
          <li> 3210 W Bell Rd, Ste #106,Phoenix, AZ - 85053</li>
          <li> Landmark: Subway Complex, Bell & 33rd Ave.</li>

        </ul>
      </div>
    </div>

    <div class="google-maps">
      <iframe width="100%" height="50" frameborder="1" scrolling="No" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_q&amp;hl=en&amp;geocode=%3BCcna-0nraSRSFWBPAQId5wxR-SlVgpAw2m4rhzFGe4jO-4BeQg&amp;q=Shirdi+Saibaba+Temple+Arizona&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.59616,79.013672&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Shirdi+Saibaba+Temple+Arizona,+106+W+Bell+Rd,+Phoenix,+Arizona+85053&amp;daddr=Shirdi+Saibaba+Temple+Arizona,+106+W+Bell+Rd,+Phoenix,+AZ+85053&amp;ll=33.640133,-112.128975&amp;spn=0.00268,0.003219&amp;z=17&amp;output=embed"></iframe>
    </div>

  </div>
  <div align="right">
    <a href="#myCarousel"><img src="assets/images/top.png" width="20" height="20"/></a>
  </div>

</section>
