<section class=" background-image">
  <div class="container">
    <div class="row text-center" style="transition-property: all; transition-duration: 0s; transition-timing-function: ease; opacity: 1;">
      <div class="col-sm-12">
        <h2>New Temple Construction Update!</h2>

      </div>
    </div>

    <div class="row text-center" style="transition-property: all; transition-duration: 0s; transition-timing-function: ease; opacity: 1;">
      <div class="col-sm-12" align="center">
        <p align="center">
          <span class="style11">With the divine blessings of Sri Saipaadha Meiyadimmai, After a rigorous bidding process, SSTAZ has selected Redden Construction Inc as the General Contractor to build the new temple </span><br>
      </div>
      <div class="col-sm-12" align="center">
        <table class="table" bgcolor="#FFFFCC">
          <thead>
          <tr>
            <th height="63"><div align="center" class="style2 style13">Construction Cost & Funding</div></th>
          </tr>
          <tr>
            <th height="63"><div align="center">Estimated Construction cost is <span class="h3">$4 Million</span> | Estimated fundraising target is <span class="h3">$2 Million</span> | Remaining cost will be funded through current <br>
              temple fund reserves and bank loan</div></th>
          </tr>
          <tr>
            <th height="63"><div align="center" class="style2 style13"><strong>Sponsorship Options &amp; Benefits</strong></div></th>
          </tr>
          <tr>
            <th height="63"><div align="center">All Tiers combined will qualify for a total of 10 Lucky Draws for $1000 gift voucher for Shirdi Pilgrimage</div></th>
          </tr>
          <tr>
            <th height="63"><div align="left" class="style3">
              <div align="center">
                <!-- ========== SPONS START ========== -->
                <div id="spons">
                  <div class="container text-center">
                    <div class="row" style="opacity: 1;">

                      <div class="col-sm-2">
                        <div class="box standard">
                          <h3>Standard: $552+</h3>
                          <div class="inner-box">
                            <span class="wedge"></span>
                            <p>Donor's name on temple website</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="box bronze">
                          <h3>Bronze: $1,002+</h3>
                          <div class="inner-box">
                            <span class="wedge"></span>
                            <p>Sponsor’s Name on Temple Website & Temple Wall </p>
                            <p>On one day of your choice : Annadhana</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="box silver">
                          <h3>Silver: $2,001+</h3>
                          <div class="inner-box">
                            <span class="wedge"></span>
                            <p>Sponsor’s Name on Temple Website & Temple Wall </p>
                            <p>On one day of your choice : Annadhana, Garland to Baba & Deities & VastraDhana to Baba & Deities</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="box gold">
                          <h3>Gold: $5,007+</h3>
                          <div class="inner-box">
                            <span class="wedge"></span>
                            <p>Sponsor’s Name on Temple Website & Temple Wall ,
                            <p>Sanctified Silver Coin (50 g)</p>
                            <p>On one day of your choice : Annadhana, Garland to Baba & Deities & VastraDhana to Baba & Deities</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="box platinum">
                          <h3>Platinum: $10,002+</h3>
                          <div class="inner-box">
                            <span class="wedge"></span>
                            <p>Sponsor’s Name on Temple Website & Temple Wall ,
                            <p>Sanctified Silver Coin (100 g)</p>
                            <p>On one day of your choice : Annadhana, Garland to Baba & Deities & VastraDhana to Baba & Deities</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="box diamond">
                          <h3>Diamond: $25,005+</h3>
                          <div class="inner-box">
                            <span class="wedge"></span>
                            <p>Sponsor’s Name on Temple Website & Temple Wall ,
                            <p>Sanctified Gold Coin (1 ounce)</p>
                            <p>On one day of your choice : Annadhana, Garland to Baba & Deities & VastraDhana to Baba & Deities</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- ========== SPONS END ========== -->

              </div>
            </div></th>
          </tr>
          </thead>
          <tbody>
          <tr align="left">
            <td><div align="center" class="style2 style13"><strong>Fundraising Targets | Sep - Dec, 2018 = $800,000 | Jan - Aug, 2019 = $1.2 Million</strong></div></td>
          </tr>
          <tr align="left">
            <td><div align="center" class="style12"><span class="style2">Check: Payable to Shirdi Saibaba Temple Arizona | Cash with Name and Contact information of donors </span><br>
            </div>
            </td>
          </tr>
          <tr align="left">
            <td><div align="center">
              <p class="style2">
              <form action = "https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx" method = "post" name="PrePage" target="_blank" >
                <input type = "hidden" name = "LinkId" value ="ad12ad03-a5c4-4d10-9e9f-08ef2e70a22d" />
                <input type = "image" src

                  ="assets/images/donate-18.gif" width="123" height="39" />
              </form>
              Non-Profit orgranization - 501(c)(3) Approved - Tax ID (EIN) # 27 - 4662101<br>
            </div></td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>

  </div>
  <div align="right">
    <a href="#myCarousel"><img src="assets/images/top.png" width="20" height="20"/></a>
  </div>
</section> >
