<section class="background background15 background-image">
  <div class="container">
    <div class="row text-center" style="transition-property: all; transition-duration: 0s; transition-timing-function: ease; opacity: 1;">
      <div class="col-sm-12">
        <h2>Donations</h2>
        <br>
      </div>
    </div>

    <div class="row text-center" style="transition-property: all; transition-duration: 0s; transition-timing-function: ease; opacity: 1;">
      <div class="col-sm-4">
        <div style="text-align:center;"><div style="text-align:center;">
          <div style="text-align:center;"><a href="#"><img border="0" src="http://www.coolfundraisingideas.net/thermometer/thermometer.php?currency=dollar&goal=800000&raised=150000&color=red&size=large"></a><p style="font-size:.8em; color:#999"></p></div>
        </div>
        </div>
      </div>
      <div class="col-sm-8 style15 style14">
        <p align="left">
					  <span class="col-xs-10">We are 9 weeks into the fundraising campaign for our new temple construction, however, despite
diligent efforts, have been able to raise <strong>only 19% ($150,000) of initial year-end goal of $800,000</strong>. This funding shortfall will impact the start date and scope of construction.</span></p>
        <p align="left" class="col-xs-10">Your support is the ONLY way to create a comfortable and spacious spiritual environment to our
          growing
          community.</p>
        <p align="left" class="col-xs-10">We need generous contributions from you and your friends URGENTLY to accelerate the fundraising.</p>
        <p align="left" class="col-xs-10">Please see below for ways to donate to this divine cause. The year-end is also a great time to take
          advantage of potential tax deductions for your
          donations to the temple.

          <a href="#pradoosham">A Big Thank You to those who already contributed, and looking forward to the generosity of others as well</a>.</p>
      </div>
    </div>
    <p> <div align="center">
    <form action = "https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx" method = "post" name="PrePage" target="_blank" >
      <input type = "hidden" name = "LinkId" value ="ad12ad03-a5c4-4d10-9e9f-08ef2e70a22d" />
      <input type = "image" src="assets/images/donate-18.gif" width="123" height="39" />
    </form>
    <div class="style16">$250,000 Fundraising Campaign Dec 10th to Dec 31st, 2018 with Dollar for Dollar Match from few angel donors</div>
  </div>
    <div class="row text-center" style="transition-property: all; transition-duration: 0s; transition-timing-function: ease; opacity: 1;">
      <div></div>
    </div>

  </div>
  <div align="right">
    <a href="#myCarousel"><img src="assets/images/top.png" width="20" height="20"/></a>
  </div>
</section>
